<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ANDROID_CLIENT_ID</key>
	<string>1089861063803-9rh85f3fdfsg2er8p8srpj9gr1p3n3s8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBuRybzm3UcUSDFV1WV3DL9UDL2j5nJ6-w</string>
	<key>GCM_SENDER_ID</key>
	<string>1089861063803</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.agronetx.iosapp</string>
	<key>PROJECT_ID</key>
	<string>notyexample</string>
	<key>STORAGE_BUCKET</key>
	<string>notyexample.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1089861063803:ios:ca4b9763887c1bd9cdbede</string>
	<key>DATABASE_URL</key>
	<string>https://notyexample.firebaseio.com</string>
</dict>
</plist>